html {
    font-family: "Avenir", "Helvetica Neue", "Arial", sans-serif;
}

body {
    background-color: #172523;
    color: #ffffff; /*při pohledu na web je i bílá barva textu hodně dominantní, proto se ji hodí dát jako výchozí */
    margin: 0;
    background-image: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 0%) 37.5rem), url(plamenaci.png);
    background-size: 100%, 42.375rem 67.5rem;
    background-repeat: no-repeat;
    background-position: bottom, left 47.4rem bottom 183rem;
}

h1,
h2,
h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal; /* 400 = normal */
}

h1 {
    color: #f6766c;
    font-size: 4rem;
    line-height: 1.125; /* 4,5rem děleno 4rem ; bezrozměrná jednotka; line-height bude 0.6546 násobek 110px */
    margin-top: 14.25rem;
    margin-bottom: 0.5rem;
    /*nepsat takto: margin: 2rem 0 0.5rem; klidně rozepisovat ty hodnoty -bottom, -top ; potřebuju hned při pohledu vedet, o co jde */
}

@media (min-width: 40rem) {
    h1 {
        font-size: 6.875rem;
        line-height: 1;
        margin-top: 7.5rem;
        margin-bottom: 1.5rem;
    }
}

h2 {
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 40rem) {
    h2 {
        font-size: 4rem;
        margin-top: 5.75rem;
        margin-bottom: 1.125rem;
    }
}

h3 {
    font-size: 2.25rem;
    line-height: 1.15;
    margin-top: 2.125rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
    h3 {
        margin-top: 0;
        font-size: 2.375rem;
        margin-bottom: 1.5rem;
    }
}
.introduction {
    display: flow-root; /* řeší margin collapsing h1 - tohle zabrání všem jejím marginům, aby vylezly ven - margin h1 se deleguje na jejího rodiče */
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 31rem) {
    .introduction {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: calc(69.5rem + 2 * 3rem);
    }
}

main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 31rem) {
    main {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: calc(69.5rem + 2 * 3rem);
    }
}

article {
    margin-bottom: 2.25rem;
}

small {
    color: #f6766c;
    font-family: "Avenir", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.25em;
    font-weight: 800;
    line-height: 1.6;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
    border-left: 0.5px solid currentColor;
    padding-left: 1rem;
    padding-block: 0.2rem;
}

@media (min-width: 40rem) {
    small {
        font-size: 1.375rem;
        line-height: 1.25;
        margin-bottom: 0.875rem;
    }
}

h1 small {
    color: #ffffff;
}

@media (min-width: 90rem) {
    h1 small {
        margin-bottom: 1.25rem;
        font-size: 1.375rem;
    }
}

a {
    color: #f6766c;
    /* text-decoration: none; -- původně jsem si myslel, že to tam není, ale při zoomu tam prostě je teňounký*/
    font-weight: 800;
}

a:hover {
    color: #ffffff;
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

/* TODO: přidat tento obrázek k projects, ať to tu nelítá 
(podívat se na plugin, který TODO vysvítí */

article img {
    margin-bottom: 1.5rem;
}

@media (min-width: 90rem) {
    article img {
        margin-bottom: 4rem;
    }
}

nav {
    margin: 1rem 0.75rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav a {
    text-align: right; /* Ošetřujeme tím situaci, pokud by se text zalomil na více řádků, tak to bude zalomené podle logiky věci - doprava. Bez toho se zalomený text hodí výchozím stylem - doleva */
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.25;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

p,
li {
    font-size: 1.375rem;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 0;
}

p {
    margin-bottom: 2rem;
}

@media (min-width: 40rem) {
    p {
        max-width: 29.125rem;
    }
}

@media (min-width: 40rem) {
    article p {
        margin-bottom: 2.875rem;
    }
}

ul li {
    list-style-type: "— ";
}

ul {
    padding-left: 1.75rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* ul>li::before { // > je přímý potomek
    content: "—";   
  }
  toto bylo špatné řešení, moc křehké
  */

/*
*
* PROJECT
*
*/

.project {
    display: flex;
    flex-direction: column;

    max-width: 36rem;

    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
}

@media (min-width: 60rem) {
    .project {
        max-width: initial;

        flex-direction: row;
        column-gap: 3rem;

        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 60rem) {
    .project:nth-child(odd) {
        max-width: initial;

        flex-direction: row-reverse;
        column-gap: 3rem;

        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.project_name {
    order: -2;
}

.project_description {
    display: contents;
}

@media (min-width: 60rem) {
    .project_description {
        display: block;
    }
}

.project_image-container {
    order: -1;
}

@media (min-width: 60rem) {
    .project_image-container {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 40.5rem;

        order: 0;
    }
}

/*
*
* CONTACTS 
*
*/

.contacts {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5.375rem;
}

@media (min-width: 31rem) {
    .contacts {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: calc(69.5rem + 2 * 3rem);
    }
}

.contacts__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contacts__text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: min-content; /*nebo zde může být tvrdá hodnota, číslo, délka, centa */
}

.contacts__photo {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 12rem; /*mohly by tu být i px, ale obrázek se nebude zvětšovat při zvětšení písma - teď (při remech) se to zvětšuje  */
}
